.auth-wrapper {
    height: 100vh;
    background: url("../../assets/titleImage.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
}

/* LEFT SIDE */
.auth-left {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.auth-left-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 500px;
}

.logo {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 1px;
}

.dot {
    color: #f4c430;
}

.tagline {
    margin-top: 20px;
    font-size: 22px;
    color: #f4c430;
}

/* RIGHT SIDE */
.auth-right {
    width: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    width: 70%;
}

.auth-title {
    color: #f4c430;
    margin-bottom: 30px;
    font-weight: 600;
}

/* INPUTS */
.auth-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    background-color: #1a1a1a;
    border: none;
    color: white;
    font-size: 14px;
}

.auth-box input:focus {
    outline: 1px solid #f4c430;
}

/* BUTTON */
.auth-button {
    width: 100%;
    padding: 14px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.auth-button:hover {
    background-color: #f4c430;
    color: black;
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 35px 0;
    color: #666;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.divider::before {
    margin-right: 15px;
}

.divider::after {
    margin-left: 15px;
}

/* Google Text */
.google-text {
    margin-top: 25px;
    font-size: 14px;
    color: #888;
}

.google-text span {
    color: #f4c430;
    cursor: pointer;
}

.google-text span:hover {
    text-decoration: underline;
}

/* Switch Text */
.auth-switch {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

.auth-switch span {
    color: #f4c430;
    cursor: pointer;
}

.auth-switch span:hover {
    text-decoration: underline;
}

/* Error */
.error-text {
    color: #ff4d4d;
    margin-bottom: 15px;
}